[Unit]
Description=PyTrader Strategy Evaluator (daily)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ pytrader_user }}
Group={{ pytrader_group }}
EnvironmentFile={{ pytrader_env_path }}
WorkingDirectory={{ pytrader_current }}
ExecStart={{ pytrader_current }}/venv/bin/pytrader evaluate --log-level ${PYTRADER_LOG_LEVEL} {% if pytrader_live == "true" %}--live{% endif %}

StandardOutput=journal
StandardError=journal
